{% extends 'base.html' %}
{% load static %}

{% block title %}About Me{% endblock title %}

{% block content %}
<!-- ======= About Me ======= -->
<div class="about-me container">
  <div class="section-title">
      <h2>About</h2>
      <p>Learn more about me</p>
  </div>

  <div class="row">
    <div class="col-lg-4" data-aos="fade-right">
      <img src="/static/img/pexels-neosiam-685674.jpg" class="img-fluid" alt="">
    </div>
    <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
      <h3>Aerospace Engineer & Software Developer</h3>
      <p class="fst-italic">
        Welcome to my page! I'm an engineer who just likes to build things. Rockets, rovers, drones, apps,
          websites. I have a wide range of interests and experience that brings surprising insight to the
          projects I'm on.
      </p>
      <div class="row">
        <div class="col-lg-6">
          <ul>
            <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>You're here!</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>
                  <a href="mailto:chris.mcglownjr@tutanota.com" target="_blank">chris.mcglownjr@tutanota.com</a></span></li>
            <li><i class="bi bi-chevron-right"></i> <strong>Location:</strong> <span>Toledo, OH, USA</span></li>
          </ul>
        </div>
        <div class="col-lg-6">
          <ul>
            <li><i class="bi bi-chevron-right"></i> <strong>School:</strong> <span>University of Cincinnati</span></li>
            <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Bachelors of Science in Aerospace Engineering</span></li>
            <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
          </ul>
        </div>
      </div>
        <p>
            I was born in Toledo, OH and graduated from <strong>University of Cincinnati</strong> where I
            majored in Aerospace Engineering. While at UC I was part of the Autonomous Systems Lab where we
            designed a robotic chassis that interfaced with a Mitsubishi industrial robotic arm used to study
            satellite capture techniques and remote brain surgery. I was a <i>"Rocket Surgeon"</i> for a short
            time. This is also when I started coding, not just for school projects but for research with the
            university as I would often get requests from professors who have an old Fortran code they want to
            revive.
        </p>
        <p>
            The University of Cincinnati has a mandatory co-op system where you are required to complete a certain
            number of internships before you graduate. I did all my internships with the <strong>Air Force Research
            Laboratory</strong> at both Edwards AFB, CA and Wright-Patterson AFB, OH. My focus during this time was
            amassing expertise in <strong>Computational Fluid Dynamics</strong> and the regimes I studied was
            external flow, steady-state, internal combustion, and hypersonics. This is also the time I wrote a lot
            more software because sometimes you have to write your own solvers.
        </p>
        <p>
            I'm now focusing on software development. I have taught myself <strong>Python, C#, SQL, Bash, HTML,
            CSS, and Fortran</strong> preferring to work in Python, C#, and SQL. I've built websites, converted
            excel toolkits to Python toolkits, written desktop applications in C#, and revived Fortran code for
            current computers. Currently, I'm studying cloud technology (AWS) and data analytics. I'm always
            learning and improving.
        </p>
    </div>
  </div>

</div><!-- End About Me -->

<!-- ======= Skills  ======= -->
<div class="skills container">
    <div class="section-title">
        <h2>Skills</h2>
    </div>
    <div class="row skills-content">
        <div class="col-lg-4">
            <ul>
                <li><i class="bi bi-chevron-right"></i><strong>Python</strong> </li>
            </ul>
            <ul>
                <li><i class="bi bi-chevron-right"></i><strong>C#</strong> </li>
            </ul>
            <ul>
                <li><i class="bi bi-chevron-right"></i><strong>SQL</strong> </li>
            </ul>
            <ul>
                <li><i class="bi bi-chevron-right"></i><strong>HTML</strong> </li>
            </ul>
            <ul>
                <li><i class="bi bi-chevron-right"></i><strong>CSS</strong> </li>
            </ul>
        </div>
        <div class="col-lg-4">
            <ul>
                <li><i class="bi bi-chevron-right"></i><strong>Git</strong> </li>
            </ul>
            <ul>
                <li><i class="bi bi-chevron-right"></i><strong>Fortran</strong> </li>
            </ul>
            <ul>
                <li><i class="bi bi-chevron-right"></i><strong>Bash</strong> </li>
            </ul>
            <ul>
                <li><i class="bi bi-chevron-right"></i><strong>Matlab & Simulink</strong> </li>
            </ul>
            <ul>
                <li><i class="bi bi-chevron-right"></i><strong>Javascript/Typescript</strong> </li>
            </ul>
        </div>
    </div><!-- End Skills -->

    <div class="section-title">
        <h2>Technologies</h2>
    </div>

    <div class="row skills-content">
      <div class="col-lg-4">
          <ul>
            <li><i class="bi bi-chevron-right"></i><strong>.NET/.NET Core</strong> </li>
          </ul>
          <ul>
            <li><i class="bi bi-chevron-right"></i><strong>ASP.NET</strong> </li>
          </ul>
          <ul>
            <li><i class="bi bi-chevron-right"></i><strong>Django</strong> </li>
          </ul>
          <ul>
            <li><i class="bi bi-chevron-right"></i><strong>PostgreSQL</strong> </li>
          </ul>
          <ul>
            <li><i class="bi bi-chevron-right"></i><strong>Amazon Web Services</strong> </li>
          </ul>
          <ul>
            <li><i class="bi bi-chevron-right"></i><strong>Jenkins</strong> </li>
          </ul>
          <ul>
            <li><i class="bi bi-chevron-right"></i><strong>Docker</strong> </li>
          </ul>
      </div>
      <div class="col-lg-4">
          <ul>
            <li><i class="bi bi-chevron-right"></i><strong>Solid Works</strong> </li>
          </ul>
          <ul>
            <li><i class="bi bi-chevron-right"></i><strong>AutoCAD LT & Fusion 360</strong> </li>
          </ul>
          <ul>
            <li><i class="bi bi-chevron-right"></i><strong>Unigraphics NX</strong> </li>
          </ul>
          <ul>
            <li><i class="bi bi-chevron-right"></i><strong>Rhinoceros CAD</strong> </li>
          </ul>
          <ul>
            <li><i class="bi bi-chevron-right"></i><strong>Gambit</strong> </li>
          </ul>
          <ul>
            <li><i class="bi bi-chevron-right"></i><strong>Pointwise</strong> </li>
          </ul>
          <ul>
            <li><i class="bi bi-chevron-right"></i><strong>Tecplot</strong> </li>
          </ul>
      </div>
      <div class="col-lg-4">
          <ul>
            <li><i class="bi bi-chevron-right"></i><strong>Metacomp CFD++ & MIME</strong> </li>
          </ul>
          <ul>
            <li><i class="bi bi-chevron-right"></i><strong>Ansys Fluent & CFX</strong> </li>
          </ul>
          <ul>
            <li><i class="bi bi-chevron-right"></i><strong>Linux</strong> </li>
          </ul>
          <ul>
            <li><i class="bi bi-chevron-right"></i><strong>OpenFOAM</strong> </li>
          </ul>
          <ul>
            <li><i class="bi bi-chevron-right"></i><strong>JetBrains IDEs</strong> </li>
          </ul>
          <ul>
            <li><i class="bi bi-chevron-right"></i><strong>Angular</strong> </li>
          </ul>
          <ul>
            <li><i class="bi bi-chevron-right"></i><strong>Paraview</strong> </li>
          </ul>
      </div>

</div><!-- End Technologies -->
</div>

<!-- ======= Interests ======= -->
<div class="interests container">

  <div class="section-title">
    <h2>Interests</h2>
  </div>

  <div class="row">
    <div class="col-lg-3 col-md-4">
      <div class="icon-box">
        <i class="ri-open-source-line" style="color: #00a7c6;"></i>
        <h3>Linux</h3>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
      <div class="icon-box">
        <i class="ri-code-box-line" style="color: #5578ff;"></i>
        <h3>Programming</h3>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
      <div class="icon-box">
        <i class="ri-command-line" style="color: #e80368;"></i>
        <h3>Drones</h3>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
      <div class="icon-box">
        <i class="ri-switch-line" style="color: #e361ff;"></i>
        <h3>Console Gaming</h3>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 mt-4">
      <div class="icon-box">
        <i class="ri-book-mark-line" style="color: #47aeff;"></i>
        <h3>Reading</h3>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 mt-4">
      <div class="icon-box">
        <i class="ri-bit-coin-line" style="color: #ffa76e;"></i>
        <h3>Crypto</h3>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 mt-4">
      <div class="icon-box">
        <i class="ri-steam-line" style="color: #11dbcf;"></i>
        <h3>Steam Deck</h3>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 mt-4">
      <div class="icon-box">
        <i class="ri-moon-clear-line" style="color: #4233ff;"></i>
        <h3>Astronomy</h3>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 mt-4">
      <div class="icon-box">
        <i class="ri-microscope-line" style="color: #b2904f;"></i>
        <h3>Science</h3>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 mt-4">
      <div class="icon-box">
        <i class="ri-cpu-line" style="color: #b20969;"></i>
        <h3>Technology</h3>
      </div>
    </div>
  </div>

</div><!-- End Interests -->

<!-- ======= Testimonials ======= -->
<div class="testimonials container">
    <div class="section-title">
    <h2>Testimonials</h2>
  </div>
    <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">
            {% for testimonial in testimonials %}
            <div class="swiper-slide">
                <div class="testimonial-item">
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                          {{ testimonial.reference_testimonial|truncatewords:75 }}
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                    <img src="{% if testimonial.image_url is not Null %}{{ testimonial.image_url }}{% else %}
                        {% static "img/no_photo.png" %}{% endif %}" class="testimonial-img" alt="">
                    <h3><a href="{{ testimonial.reference_url }}">{{ testimonial.reference_name }}</a> </h3>
                    <h4>{{ testimonial.reference_title }}</h4>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <div class="owl-carousel testimonials-carousel"></div>
</div><!-- End Testimonials  -->
{% endblock content %}