<div class="container">
  <div class="section-title">
    <h2>Contact</h2>
    <p>Get In Touch</p>
  </div>
  <div class="row mt-2">
    <div class="col-md-12 d-flex align-items-center">
      <div class="info-box">
        <i class="bx bx-user-check"></i>
        <h3>Send a message</h3>
        <p>I'm always looking for new opportunities. Send me a message and let's have a conversation about any projects
        or job opportunities that you may have in mind. </p>
      </div>
    </div>
    <div class="col-md-6 mt-4 d-flex align-items-stretch">
      <div class="info-box">
        <i class="bx bx-envelope"></i>
        <h3>Email Me</h3>
        <a href="mailto:chris.mcglownjr@tutanota.com" target="_blank">chris.mcglownjr@tutanota.com</a>
      </div>
    </div>
    <div class="col-md-6 mt-4 d-flex align-items-stretch">
      <div class="info-box">
        <i class="bx bx-share-alt"></i>
        <h3>Social Profiles</h3>
        <div class="social-links">
          <a href="https://gitlab.com/cmcglownjr" class="gitlab"><i class="ri-gitlab-fill"></i></a>
          <a href="https://www.linkedin.com/in/chrismcglownjr" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>