{% extends 'base.html' %}
{% load static %}

{% block title %}Chris McGlown Jr{% endblock title %}

{% block content %}
    <!-- ======= Header ======= -->
    <header id="header">
        <div class="container">
            <h1><a href="{% url 'base:home' %}">Chris McGlown Jr.</a></h1>
            <h2>I'm a passionate <span>Aerospace Engineer and Software Developer</span> who likes to build amazing
                projects</h2>
            {% include 'base/navbar.html' %}
            <div class="social-links">
                <a href="https://gitlab.com/cmcglownjr" class="gitlab"><i class="ri-gitlab-fill"></i></a>
                <a href="https://www.linkedin.com/in/chrismcglownjr" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
        </div>
    </header><!-- End Header -->
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        {% include 'base/about.html' %}
    </section><!-- End About Section -->
    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
        {% include 'base/resume.html' %}
    </section><!-- End Resume Section -->
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
        {% include 'base/portfolio.html' %}
    </section><!-- End Portfolio Section -->
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        {% include 'base/contact.html' %}
    </section><!-- End Contact Section -->

    <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/personal-free-resume-bootstrap-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
{% endblock content %}