{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}{% endblock title %}</title>

        <meta content="" name="description">
        <meta content="" name="keywords">
        <link href="/static/img/Logo_final_Color_600.png" rel="icon">
        <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
        <link href="/static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
        <link href="/static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
        <link href="/static/vendor/remixicon/remixicon.css" rel="stylesheet">
        <link href="/static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

        <!-- Template Main CSS File -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

    </head>
    <body>
        <div class="container">
            {% block content %}
            {% endblock content %}
        </div>
      <!-- Vendor JS Files -->
          <script src="/static/vendor/purecounter/purecounter_vanilla.js"></script>
          <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
          <script src="/static/vendor/glightbox/js/glightbox.min.js"></script>
          <script src="/static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
          <script src="/static/vendor/swiper/swiper-bundle.min.js"></script>
          <script src="/static/vendor/waypoints/noframework.waypoints.js"></script>
          <script src="/static/vendor/php-email-form/validate.js"></script>

          <!-- Template Main JS File -->
        <script src="{% static 'js/main.js' %}"></script>

    </body>
</html>